// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/*Színkódok:
• Zöld: #4BB92F
• Narancssárga: #ff8700
• Lila: #8d00ff
• Kék: #0078ff
• Sötét szürke: #3d455c;
• Világos szürke: #eceef2*/
// Colors
$blue: #0078ff;
$indigo: #6574cd;
$purple: #8d00ff;
$pink: #f66d9b;
$red: #e3342f;
$orange: #ff8700;
$yellow: #ffed4a;
$green: #4BB92F;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey-600: #eceef2;
$grey-800: #3d455c;
